--------------
Output example
--------------

{outputExample}


------------------
Notes on the error
------------------

{notes}


------------------------------
Related errors by source files
------------------------------

